{% extends "template.html" %}
{% block content %}

   
    <!-- Breadcrumb Section End -->

    <!-- Faq Question section Start -->
    <section class="faq-box-contain section-b-space">
        <div class="container">
            <div class="faq-accordion">
                <h2 class="mb-5" id="headingOne">Terms & Conditions -</h2>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                UK DELIVERY<i
                                    class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Standard UK Mainland delivery is charged at £12

                                </p>
                                <p><b>WITH THE FOLLOWING EXCEPTIONS:
                                </b></p>
                                <ol class="row">
                                    <li>
                                       - FREE delivery on UK Mainland orders over £99
                                    </li>
                                    <li>
                                       - Scottish Islands/Highlands: £35

                                    </li>
                                    <li>
                                       - Postcodes starting IV40 & IV54: £25

                                    </li>
                                    <li>
                                       - Isle Of Man: £20

                                    </li>
                                    <li>
                                      -  Northern Ireland: £25
                                    </li>
                                    <li> - Channel Islands & Scilly Isles: £35
                                    </li>
                                </ol>
                                <p> <h4>Our standard delivery time to mainland UK is 7-10 working days from placing the order. However, during our Seasonal Sales when demand is very high this may extend to 14 working days.</h4> 
                                    <br> <h4>Delivery to Europe is up to 14-21 working days from the date of placing the order.</h4>
                                    <br> <h4><b>Europe: </b>The postage is charged at £25 per delivery address for orders of smaller items.</h4>
                                    <br> <h4>Bulky items will be charged at ahigher rate - we will contact you to confirm the extra delivery cost.
                                    </h4>

                                </h4></p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading11">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                DELIVERY TIMES <i
                                    class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Once we have received your order and payment in full, we will process your order as promptly as
                                    possible.    If you require your order by a specific date, we strongly suggest that you contact us
                                    by telephone to find out if that is possible before placing your order.  On extremely rare
                                    occasions there may be delays caused by out-of-stock materials, shipping delays, temporary
                                    factory overload or other factors beyond our control. In the event of a known delay, you will be
                                    contacted as soon as possible.  Please also be aware that delivery times may be significantly
                                    interrupted at public holiday times such as Christmas and New Year as these are busy periods.</p>
                            
                                <p>

                                    We strongly recommend that the buyer does not book decorators, curtain makers or the like, until
they have received and are satisfied with their goods.   ZEBA is not liable for any charges from
decorators and the like caused by a delay to the delivery of the buyer&#39;s goods.
                                </p>
                                </div>

                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading12">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                DELIVERY METHODS<i
                                    class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <b>We use Royal Mail, and other trusted couriers.</b>
                                <p>ZEBA reserves the right to dispatch orders via whichever delivery service they consider
                                    appropriate.  If you would like to know which delivery service will be used for your goods, or have
                                    any special requests regarding choice of delivery service, please contact ZEBA.  Should you
                                    wish ZEBA to use a service other than the one which ZEBA deems appropriate for your goods,
                                    you may be subject to a further delivery charge.</p>
                                <p>
                                    We will make custom made products to your exact measurements. Should these measurements
prove to be incorrect, ZEBA is not liable and has the right to make charges for any alterations
necessary.   Custom made items, where the customer has provided the measurements, are
made at the customer&#39;s own risk.
                                </p>
                            </div>
                        </div>
                    </div>






                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                INTERNATIONAL ORDERS <i
                                    class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>We are happy to send items worldwide. Please email us for a price for delivery to your country. Please note that shipping quotes for international deliveries are always approximate until the items have been packed and are ready to be shipped, and, at that stage, we reserve the right to levy a further delivery charge if necessary. You will always be informed if there is a need for us to do this. Please contact us before placing an order if you would like further information or have any queries regarding international orders.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                DUTY AND CUSTOMS<i class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>If your order is to be delivered outside the European Union, it may attract import duty and local sales taxes which must be paid upon receipt of the shipment. These rules vary by country and your local government determines duty and customs charges.</p>
                                <p><b>Please note:</b> Someone must be at the delivery address when the item arrives in order to sign for it or the package will be returned to the depot.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="true"
                                aria-controls="collapseFour">
                                EMAIL/TELEPHONE ENQUIRIES<i class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>We aim to respond to enquires made via email or telephone within 24 hours; however, at busy times this may not always be possible and may take longer time. If you have not received a response after 3 days, please let us know immediately.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                                CANCELLATIONS, RETURNS AND FAULTS<i class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>If you wish to change or cancel an order contact our Customer Service team on 01274 598894 any time between 10am and 5pm weekdays, 10am and 4pm on weekends and bank holidays. Please have the order number and date the order was placed to hand.</p>

                                <p>You have seven days from receipt of goods in which to inform us of returns for any reason, including faults. This must be done by email, within this period. This is to ensure you have proof that you were within our seven day returns policy, if there is any quires at a later date.</p>
                                <p>Please make out all emails to: <b>sales@zebahomeonline.com</b> 
                                </p>
                                <p>Refunds on returns will be subject to a 25% handling charge, and no delivery charges will be refunded. All returns must be packaged as received and product as new or refund will not be given. Refunds will be processed within 5 working days after goods have been returned to us.</p>
                                <p>Please note - Any order sent outside of the UK mainland, Special orders, Custom made products which are specially made to your particular specified size or colour are non returnable as these are made specifically to order Our rugs are hand crafted sizes may vary up to 5% either way. Please be aware of this before placing your order.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                GUARANTEE AND RETURNS POLICY
                                <i
                                    class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>We hope you will be pleased with your purchase. Should you wish to return anything bought from us, we will be happy to refund or exchange a product provided it is in fully resalable condition. You have up until the end of seven working days after delivery to inform us if you wish to return your order.</p>
                            
                                <p>Refunds on returns will be subject to a 25% handling charge, and no delivery charges will be refunded.
                                </p>
                                <p>If you would like to return an item or items, please email or telephone us to confirm that this is acceptable
                                </p>
                            
                                <p>
                                    We recommend that you send returns by recorded post. Always retain proof of postage. Goods are returned at your own expense.
                                </p>
                                <p>You will receive your refund credit, or exchange order (when in stock) within 2 to 3 weeks after you post the goods back to us.

                                </p>
                            
                            
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="true"
                                aria-controls="collapseSeven">
                                GIFT VOUCHERS <i
                                    class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse"
                            aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Zeba Rugs & Fabrics gift vouchers can be exchanged for goods at Zeba stores.
                                    <br>
                                    Gift Vouchers are available to purchase online however, they may not be used to make purchases online.
                                    <br>
                                    Gift vouchers may not be exchanged for cash.</p>

                      
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false"
                                aria-controls="collapseEight">
                                PRIVACY AND DATA PROTECTION
                                <i
                                    class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse"
                            aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>We take your privacy seriously and will treat all of your personal information in accordance with the applicable data protection laws in the UK to ensure that the personal information you give us is kept secure and processed fairly and lawfully. The data which you supply to us will enable us and our processors to fulfil your order and to provide you with the best possible service. We collect the data that you enter on this site and we track how you use the site using cookies. We use this information to deliver your order and to save you having to type in the same information every time you visit our site. </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseNine" aria-expanded="false"
                                aria-controls="collapseNine">
                                PAYMENT
                                <i class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Payment can be made by Visa, Mastercard, Switch, Solo, Visa-Electron, JCB Cards, Cirrus or Maestro. We will take all reasonable precautions, in so far as in our power to do so, to keep the details of your order and payment secure but, unless we are negligent, we cannot be held liable for any losses caused as a result of unauthorised access to information provided by you. Please note that prices are subject to change without notice.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingten">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseten" aria-expanded="false"
                                aria-controls="collapseten">
                                IMAGE

                                <i class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingten"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Images shown are a guide only, and preciseness of colour cannot be guaranteed as this may be
affected by the quality of the photograph used, screen settings of your computer, the light you
are viewing the screen in, or other factors.  We do NOT recommend that you place an order
based solely on the image shown on our website - we are always happy to order samples of
products for you wherever possible.
                                </p>

                                <p>
                                    Samples are available free of charge to a maximum of 6.  Please email us with your name, full
postal address including postcode, and the details of which samples you require.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingten">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseten" aria-expanded="false"
                                aria-controls="collapseten">
                                ACCURACY OF INFORMATION

                                <i class="fa-solid fa-angle-down"></i>
                            </button>
                        </h2>
                        <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingten"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>We attempt to be as accurate as possible when describing our products, however, to the extent permitted by applicable law, we do not warrant that the product descriptions, colours or other content available on the website is accurate, complete, reliable, current, or error-free. All sizes and measurements are approximate; however we do make every effort to ensure they are as accurate as possible.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
    </section>
    <!-- Faq Question section End -->

   
    <!-- Faq Section End -->
    {% endblock content %}
